{{!< layouts/base}}

{{#*inline "title"}}Reset Your Password{{/inline}}

<p>Hello <strong>{{username}}</strong>,</p>

<p>We received a request to reset your password for your <strong>{{appName}}</strong> account.</p>

<p>Click the button below to reset your password:</p>

<p style="text-align: center;">
  <a href="{{resetLink}}" class="button">Reset Password</a>
</p>

<p>If the button doesn't work, copy and paste this URL into your browser:</p>
<p><a href="{{resetLink}}">{{resetLink}}</a></p>

<p><strong>Note:</strong> This link will expire in <strong>10 minutes</strong>.</p>

<p>If you did not request a password reset, you can safely ignore this email.</p>

<p>Thank you,<br/>The {{appName}} Team</p>