{{!-- <div class="header">
  {{#if logoUrl}}
    <img src="{{logoUrl}}" alt="{{appName}} Logo" class="logo">
  {{else}}
    <h1>{{appName}}</h1>
  {{/if}}
</div> --}}
<div class="header">
  <img src="{{logoUrl}}" alt="{{appName}} class="logo">
</div>